
# 数据库超级用户配置
POSTGRES_USER=postgres                # 数据库超级用户名，默认为postgres，一般不需要修改
POSTGRES_PASSWORD=postgres_password   # 数据库超级用户密码，必须修改为您自己的强密码

# n8n应用使用的数据库配置
POSTGRES_DB=n8n                       # n8n使用的数据库名称，默认为n8n，一般不需要修改
POSTGRES_NON_ROOT_USER=n8n_user       # n8n应用使用的数据库用户名，默认为n8n_user，一般不需要修改
POSTGRES_NON_ROOT_PASSWORD=n8n_password # n8n应用使用的数据库用户密码，必须修改为您自己的强密码

# 系统配置
TZ=Asia/Shanghai                      # 时区设置，默认为中国标准时间，根据需要可以修改

# n8n应用配置
N8N_PORT=5678                         # n8n应用的访问端口，如果此端口已被占用，需要修改为其他未使用的端口

# Cloudflare隧道配置
WEBHOOK_URL=https://your-domain.com   # 通过Cloudflare隧道访问n8n的URL地址，需要设置为您的Cloudflare自定义域名
